@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    min-height: 100vh;
    font-family: 16px $font-additional;
    text-align: center;
    color: $font-color-white;
    background-blend-mode: multiply;
    transition: $transition-long;
}

.slider-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}

.change-quote-icon {
    margin-bottom: 30px;
    background-image: url("../assets/svg/reload.svg");
}

.player-icon,
.slider-icon,
.change-quote-icon {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.8;
    cursor: pointer;
    transition: $transition-fast;

    &:hover {
        opacity: 1;
    }

    &:active {
        transform: scale(1.1);
    }
}

.header {
    &__weather-icon {
        font-size: 44px;
    }
}

@each $name in play, play-prev, play-next {
    .#{$name} {
        background: url("../assets/svg/#{$name}.svg") 0/cover;
    }
}

.play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;

    &.pause {
        background-image: url("../assets/svg/pause.svg");
    }
}

@each $name in prev, next {
    .slide-#{$name} {
        background-image: url("../assets/svg/slider-#{$name}.svg");
    }
}

.slide-next {
    right: 20px;
}

.slide-prev {
    left: 20px;
}

.show {
    animation: show $transition-long linear;
}
