.settings {
    &__hint {
        &-text {
            position: absolute;
            right: 0;
            bottom: 35px;
            left: 0;
            padding: 10px;
            z-index: -100;
            opacity: 0;
            width: auto;
            text-align: center;
            font-family: $font-main;
            color: $font-color-green;
            background-color: rgb(0 0 0 / 75%);
            border: 2px solid transparent;
            border-radius: 25px;
            animation: show reverse $transition-fast;
            transition: $transition-fast;
        }

        &:hover > &-text {
            animation: show $transition-fast;
            opacity: 1;
            z-index: 100;
        }
    }
}

.hint {
    display: inline-block;
    width: 20px;
    font-family: $font-main;
    text-align: center;
    border: 1px solid $border-color-green;
    border-radius: 50%;
    cursor: pointer;
}
