.header {
    &__player {

        @include flex(row, flex-start);

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px 20px;

        @include medium-desktops {
            flex-direction: column;
        }

        @include mobile {
            align-items: center;
            margin-bottom: 20px;
        }

        &-range {
            height: 3px;
            appearance: none;
            background: rgb(115 115 115);
            cursor: pointer;

            &::-webkit-slider-thumb {
                width: 15px;
                height: 15px;
                appearance: none;
                border-radius: 50%;
                background-color: rgb(215 215 215);
                border-color: 1px solid $border-color-gray;
                transition: $transition-fast;

                &:active {
                    transform: scale(1.1);
                }

                @include media-custom(1600px) {
                    width: 14px;
                    height: 14px;
                }

                @include mobile {
                    width: 10px;
                    height: 10px;
                }
            }

            &:hover::-webkit-slider-thumb {
                transform: scale(1.1);
            }

            &_duration {
                max-width: 200px;
            }
        }

        &_progress-bar {
            position: relative;
            height: 10px;
            width: 120px;
            background-color: $background-color-white;
            cursor: pointer;
        }

        &_progress {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: $background-color-green;
            z-index: 1;
        }

        &_volume-bar {
            width: 60px;
            height: 10px;
            background: $background-color-white;
            transition: $transition-fast;
        }

        &_volume {
            background: $background-color-green;
            height: 100%;
            width: 80%;
        }

        &-song,
        &-time,
        &-duration {
            font-family: $font-main;
        }

        &-song {
            display: flex;
            flex-direction: row;
            align-items: end;
        }

        &-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            @include widgets {
                flex-direction: column;
            }
        }

        &-currentTime {

            @include medium-desktops {
                text-align: right;
            }
        }

        &-duration {

            @include medium-desktops {
                text-align: left;
            }
        }
    }
}
