// fonts
$font-main: "Arial", sans-serif;
$font-second: "Owfont", sans-serif;
$font-additional: "Arial-MT", sans-serif;

// font-colors
$font-color-white: #ffffff;
$font-color-orange: #ffc600;

// background colors
$background-color-white: #ffffff;
$background-color-dark: rgba(0, 0, 0, 0.5);
$background-color-gray: rgb(182, 182, 182);
$background-color-orange: #ffc600;

//border-color
$border-color-white: #ffffff;
$border-color-orange: #ffc600;
$border-color-gray: rgb(182, 182, 182);

//box-shadow
$box-shadow-orange: #ffc600;
$box-shadow-dark: rgba(0, 0, 0, 0.5);
$box-shadow-gray: rgb(128, 128, 128);

// transition
$transition-fast: 0.45s linear;
$transition-long: 0.85s linear;
